.logos
{
  width: 90px;
  height: 90px;
}

h2
{
  font-size: 120%;

}

.item
{
  margin-left: 20%;
}

.carousel-inner
{
  text-align: center;
}

.image
{
    margin : 0 5 0 5;
}

.wrapper{
  display: inline-block;
  border: none;
  font-size: 60%;
  left: 30%;
  transform: translateX(-50%);
  width: 150px;
  height: 50px;
  position: relative;
}

.wrapper input{
  border: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  opacity: 0;
}

.wrapper label {
  position: relative;
  float: right;
  color: #C8C8C8;
}

.wrapper label:before{
  margin: 20%;
  content: "\f005";
  font-family: FontAwesome;
  display: inline-block;
  font-size: 1.5em;
  color: #ccc;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}


.wrapper input:checked ~ label:before{
  color: #FFC107;
}

.wrapper label:hover ~ label:before{
  color: #ffdb70;
}

.wrapper label:hover:before{
  color: #FFC107;
}

.faire
{
  text-align: center;
  font-size: 150%;
  margin-top: 5%;
}

.Valider
{
    text-align: center;
    margin-top: 60px;
}
